.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
	row-gap: 10px;
	column-gap: 10px;
}
.person {
	border: 3px solid;
	border-radius: 10px;
	padding: 5px;
	font-size: var(--font-size-medium);
}

.person ul li .symbol {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-size: var(--font-size-small);
}

.person .events {
	text-align: left;
	display: initial;
}

.person ul li {
	list-style: none;
}

.person ul li.complete {
	text-decoration: line-through;
	color: var(--color-text-dimmed);
}

.person .symbol span {
	padding-top: 5px;
}

.person .title {
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 -40px 0;
}

.person .title span {
	padding-right: 0.1em;
}

.person .allowance-display {
	text-align: center;
	font-size: var(--font-size-small);
	color: #888;
	padding-top: 8px;
	margin-top: 5px;
	border-top: 1px solid #444;
}
